{% extends '_base.html' %}

{% block content %}

<article>

    <h2 class="m-0 py-3">Sobre...</h2>

    <h4>Sobre o site</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit error accusantium quas quae suscipit
        culpa esse molestiae asperiores, eveniet recusandae eius provident, nam illo, animi nobis ea ex non.</p>

    <h4>Sobre o autor</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At amet pariatur nobis iure non dolorem minus assumenda
        ipsum. Culpa cum sint similique, quia tenetur totam adipisci quos obcaecati eligendi dolorum.</p>

    <h4>Políticas de privacidade</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ipsa nobis non asperiores, molestias tempora
        facilis! Magni, illum sint. Ducimus tempora dignissimos laboriosam ad, necessitatibus quia voluptatum atque.
        Suscipit, earum.</p>

</article>
{% endblock %}